@inherits LayoutComponentBase
@inject AuthService AuthService

<div class="page">
    <main>
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col"></div>
                <div class="col">
                    <div class="header-container">
                        <h1 class="header-text-style">Todo App</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="row align-items-center justify-content-end">
                        @if (isAuthenticated)
                        {
                            <div class="col text-end">
                                <h3 class="button-text-style m-0" style="color: white;">Logged in as:</h3>
                                <h3 class="button-text-style m-0" style="color: white;">@AuthService.Username</h3>
                            </div>
                            <div class="col flex-grow-0">
                                <NavLink class="btn btn-primary button-text-style" href="logout">
                                    Logout
                                </NavLink>
                            </div>
                        }
                        else
                        {
                            <div class="col flex-grow-0">
                                <NavLink class="btn btn-primary button-text-style" href="login">
                                    Login
                                </NavLink>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsAuthenticated();
        AuthService.OnAuthStateChanged += UpdateAuthState;
    }

    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= UpdateAuthState;
    }

    private void UpdateAuthState()
    {
        InvokeAsync(async () =>
        {
            isAuthenticated = await AuthService.IsAuthenticated();
            StateHasChanged();
        });
    }
}