@inherits LayoutComponentBase
@inject AuthService AuthService

<div class="page">
    <main>
        <div class="container top-row px-4">
            <div class="row">
                <div class="header-container text-center">
                    <h1 class="header-text-style">Todo App</h1>
                </div>
            </div>
            <div class="row">
                @if (isAuthenticated)
                {
                    <div class="text-end">
                        <h3 class="button-text-style mb-0" style="color: white;">Logged in as:</h3>
                        <h3 class="button-text-style mb-0" style="color: white;">@AuthService.Username</h3>
                    </div>
                    <NavLink class="btn btn-primary button-text-style ms-3" href="logout">
                        Logout
                    </NavLink>
                }
                else
                {
                    <NavLink class="btn btn-primary button-text-style" href="login">
                        Login
                    </NavLink>
                }
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsAuthenticated();
        AuthService.OnAuthStateChanged += UpdateAuthState;
    }

    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= UpdateAuthState;
    }

    private void UpdateAuthState()
    {
        InvokeAsync(async () =>
        {
            isAuthenticated = await AuthService.IsAuthenticated();
            StateHasChanged();
        });
    }
}