<div class="container">
        <h3 class="h3-style sub-title-text-style">Completed todo list</h3>
    <ul class="list-group">
        @foreach (var todo in Parent.CompletedTodos)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center list-text-style">
                <span>@todo.Title</span>
                <div class="d-flex gap-2">
                    <button class="btn btn-warning btn-sm button-text-style" @onclick="() => HandleUndo(todo)">
                        Undo
                    </button>
                </div>
            </li>
        }
    </ul>
    <button style="margin-top: 20px;" class="btn btn-danger button-text-style" @onclick="() => Parent.ClearCompletedTodos()">Clear
        Completed Todo's</button>
</div>

@code {
    [CascadingParameter]
    public required Todo Parent { get; set; }

    [Parameter]
    public EventCallback<Todo.TodoItem> OnUndoComplete { get; set; }

    private void HandleUndo(Todo.TodoItem todo)
    {
        Parent.UndoCompleteTodoItem(todo);
    }
}